@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: url(../images/splash_background.png) fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

#mixtape {
    max-width: 300px;
}

#playlist-selection {
    margin-top: 20px;
}

#authorize {
    padding: 0.45em 1.5em;
    border-radius: 7px;
    margin-top: 20px;
    background: #38bbd3;
    color: white;
    align-content: center;
    cursor: pointer;
    border: none;  
}

#playlist {
    padding: .45em 1.5em !important;
    border-radius: 7px;
    background: #38bbd3;
    color: white;
    align-content: center;
    cursor: pointer;
    border: none !important;
}

#setup {
    padding: .45em 1.5em;
    border-radius: 7px;
    margin-left: 10px;
    border-radius: 5px;
    background: #38bbd3;
    color: white;
    align-content: center;
    cursor: pointer;
    border: none;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #38bbd3;
    font-size: 12px;
    border: 1px solid #38bbd3;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-text {
    background-color: #fff;
    border: 1px solid #fff;
    display: block;
    text-align: center;
    color: #61534e;
}  
