@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: url(../images/app_background.png) fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#play-wrapper,
figcaption {
    text-align: center;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 25%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    opacity: .8;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#mixtape {
    width: 100px;
    margin-bottom: 2em;
}

#playlist-name,
#playlist-track-count {
    margin-top: 200px;
}

#play-pause {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .45em 1.5em;
    border-radius: 7px;
    margin-left: 10px;
    border-radius: 5px;
    background: #00B8D1;
    color: #fff;
    align-content: center;
    cursor: pointer;
    border: none;
}

#qr-code {
    margin-top: 20%;
    border-radius: 5px;
}

/*Top-bar*/
.navbar {
    margin-left: 25%;
    background:  #38bbd3;
    
}

#playlist-image {
    width: 150px;
    margin-right: 15px;
}

/*Playlist*/
.main {
    margin-top: 180px;
    padding: 10px;
    margin-left: 25%;
}

.track {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.track img {
    float: left;
    margin-right: 10px;
    clear: both;
    height: 35px;
}