@import url('https://fonts.googleapis.com/css?family=Patua+One');

html,
body {
  height: 100%;
}

body {
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  background: url(../images/splash_background.png) fixed;
  background-size: cover;
  font-family: 'Patua One', sans-serif;
}

.btn {
  color: #fff;
  background: #38bbd3;
}

.btn:hover {
  color: #fff;
  background: #2f9cb0;
}

.swal-footer {
  text-align: center;
}

#mixtape {
  max-width: 300px;
  width: 100%;
}

/* Host */
body.host {
  background: url(../images/app_background.png) fixed;
}

/* Sidebar */
.sidenav {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%; /* Full-height: remove this if you want "auto" height */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 20px 0px 0px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  width: 25%; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
}

.sidenav #mixtape {
  max-width: 120px;
}

.playlist-info {
  padding: 20px;
}

.playlist-info h4 {
  font-size: 1.2em;
  opacity: 0.8;
}

.playlist-info #playlist-name {
  border-left: 5px solid #30E09A;
  padding: 5px 10px;
}

.playlist-track-counter {
  font-style: italic;
  font-size: 1.1em;
}

.play-controls {
  margin-top: 20px;
}

.sidenav figure {
  bottom: 0px;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
}
.sidenav figure img {
  max-width: 180px;
  width: 100%;
}
.sidenav figcaption {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 10px;
}

/*Top-bar*/
.navbar {
  background:  #38bbd3;
  margin-left: 25%;
}

#playlist-image {
  margin-right: 15px;
  width: 150px;
}

/*Playlist*/
#tracks {
    margin-top: 180px;
    padding: 10px;
    margin-left: 25%;
    width: 100%;
}

.track {
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
}

.track h5,
.track p{
  margin-bottom: 0px;
}

.track h5 {
  font-size: 1.1em;
}

.track p {
  font-style: italic;
}

.track img {
    height: 35px;
    margin-right: 10px;
}

.track.playing {
    color: #30E09A !important;
}

/* Guest */

header {
    background: #00B8D1;
    padding: 20px;
}

#album-art {
    margin-right: 10px;
    max-width: 100px;
    width: 100%;
}

body.guest{
  background: url(../images/app_background.png);
  background-size: cover;
  height: 100%;
  position: relative;
}

body.guest .container {
  max-width: 680px;
}

.guest main {
  height: 100%;
  margin-bottom: 50px;
  position: relative;
}

.guest #song-playing {
  font-size: 1.6em;
  margin-bottom: 0px;
}

#downvote {
  background: #dc3545;
}

#downvote:hover {
  background: #c82333;
}

#search-form {
  background: rgba(0,0,0,0.2);
  padding: 20px;
}

#results {
  bottom: 0px;
  overflow-y: auto;
  padding: 10px;
  position: absolute;
  top: 80px;
  width: 100%;
}

footer {
  background: rgba(0,0,0,0.2);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

#footer-logo {
  width: 30px;
}

@media only screen and (max-width: 600px) {
    .guest #song-playing {
      font-size: 1.2em;
    }

    #album-art {
      max-width: 80px;
    }

    #downvote {
      padding: 3px;
      width: 100%;
    }
}